<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d %highlight{%-5level}{INFO=normal} [%t] %logger{1.}: %msg%n%throwable" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="com.bbva.arch.config.repository.ConsulPropertyRepository" level="error">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>
